<!-- About Section -->
   <section class="success" id="opening">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Öffnungszeiten</h2>
                   <hr class="star-light">
               </div>
           </div>
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                 <table>
                {% for entry in site.opening %}
                  <tr>
                    <td class="day">{{ entry.day }}</td>
                    <td class="time">{{ entry.time }}</td>
                    <td class="note">{{ entry.note }}</td>
                  </tr>
                {% endfor %}
                </table>
               </div>
           </div>
       </div>
   </section>
